<!--<mat-toolbar class="custom-secondary-color">-->
<!--  <mat-toolbar-row>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <button mat-menu-item>-->
<!--        Test1-->
<!--      </button>-->
<!--    </mat-menu>-->

<!--    <button mat-button [matMenuTriggerFor]="menu">-->
<!--      All tasks-->
<!--      <mat-icon>arrow_drop_down</mat-icon>-->
<!--    </button>-->
<!--    <div class="project-options">-->
<!--      <ul class="options">-->
<!--        <li>-->
<!--          <button mat-button>-->
<!--            List-->
<!--            <mat-icon>arrow_drop_down</mat-icon>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button mat-button>-->
<!--            Create project-->
<!--            <mat-icon>add</mat-icon>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button mat-button>-->
<!--            <mat-icon>filter_alt</mat-icon>-->
<!--          </button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<!--<mat-accordion>-->
<!--  <mat-expansion-panel hideToggle>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Sprint 1-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        This is a summary of the content-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--  </mat-expansion-panel>-->
<!--  <mat-expansion-panel>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Sprint 2-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        Currently I am-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <mat-card>-->
<!--      <mat-card-content>-->
<!--        <a mat-button routerLinkActive="list-item-active" routerLink="/projects/2/task/1">Zadanie 1</a>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--    <mat-card>-->
<!--      <mat-card-content>-->
<!--        <a mat-button routerLinkActive="list-item-active" routerLink="/projects/2/task/2">Zadanie 2</a>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->
