.activities-container i {
  color: white;
  padding: 0 10px;
}

.activities-container{
  margin-right: 30px;
}

.notification {
  cursor: pointer;
}

.notificationButton {
  cursor: pointer;
}

.notificationUnread {
  color: #9cf39c;
}
