<p-table [value]="getUsers()" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Products
      <p-button icon="pi pi-plus" (click)="addUser()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/'" [alt]="user.id" width="100" class="shadow-4" /></td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{this.project.value !== null ? this.project.value.users.length : 0}} users.
    </div>
  </ng-template>
</p-table>
