<p-table [value]="getUsers()" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Products
      <p-button icon="pi pi-plus" (click)="addUser()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>
        <img src="{{'data:image/jpg;base64,' + user.profileImage}}" *ngIf="user.profileImage !== null" class="profile-image"/>
        <i class="pi pi-user" style="font-size: 2.5rem" *ngIf="user.profileImage === null"></i>
      </td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role.name}}</td>
      <td><p-button label="Delete" styleClass="p-button-danger p-button-text" (click)="deleteUser(user.email)" *ngIf="canDeleteUserFromProject()"></p-button></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{this.project.value !== null ? this.project.value.users.length : 0}} users.
    </div>
  </ng-template>
</p-table>
