<form (ngSubmit)="submit()" #formModel="ngForm">
  <div class="mb-3">
    <label for="name" class="block text-900 font-medium mb-2">Task name</label>
    <input
      id="name"
      type="text"
      placeholder="Task name"
      pInputText
      [ngClass]="!taskName.valid && taskName.touched || !taskName.touched && formModel.submitted ? 'ng-invalid ng-dirty' : ''"
      class="w-full"
      ngModel
      name="name"
      required
      #taskName="ngModel">
    <small id="name-help" *ngIf="!taskName.valid && taskName.touched || !taskName.touched && formModel.submitted" class="p-error">Please enter task name!</small>
  </div>
  <div class="mb-3">
    <label for="estimatedWorkTime" class="block text-900 font-medium mb-2">Estimated work time in (h)</label>
    <input
      id="estimatedWorkTime"
      type="number"
      placeholder="Estimated work time"
      pInputText
      [ngClass]="!estimatedWorkTime.valid && estimatedWorkTime.touched || !estimatedWorkTime.touched && formModel.submitted ? 'ng-invalid ng-dirty' : ''"
      class="w-full"
      ngModel
      name="estimatedWorkTime"
      #estimatedWorkTime="ngModel">
  </div>
  <div class="mb-3">
    <label for="description" class="block text-900 font-medium mb-2">Description</label>
    <p-editor ngModel #description="ngModel" [style]="{ height: '200px' }" id="description" name="description"></p-editor>
  </div>
  <div class="mb-3">
    <label for="owner" class="block text-900 font-medium mb-2">Owner</label>
    <p-dropdown id="owner" [options]="getProjectUsers()" ngModel name="owner" optionLabel="nick" [style]="{'width':'100%'}">
      <ng-template let-user pTemplate="user">
        <div class="flex align-items-center">
          <img src="{{'data:image/jpg;base64,' + user.profileImage}}" alt="user"
               *ngIf="user.profileImage !== null" width="20px">
          <i class="pi pi-user" style="font-size: 2.5rem" *ngIf="user.profileImage === null"></i>
          <span class="ml-3">{{ user.fullName }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="mb-3">
    <label for="dueDate" class="block text-900 font-medium mb-2">Due date</label>
    <p-calendar id="dueDate" class="w-full" ngModel name="dueDate" #dueDate="ngModel"></p-calendar>
  </div>
  <div class="mb-3">
    <label for="status" class="block text-900 font-medium mb-2">Status</label>
    <p-dropdown id="status" [options]="getStatusOptions()" ngModel name="status" optionLabel="name" #status="ngModel"></p-dropdown>
  </div>
  <div class="mb-3">
    <label for="priority" class="block text-900 font-medium mb-2">Priority</label>
    <p-dropdown id="priority" [options]="getPriorityOptions()" ngModel name="priority" optionLabel="name" #priority="ngModel"></p-dropdown>
  </div>
  <button pButton pRipple label="Create Task" class="w-full"></button>
</form>
