<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div *ngIf="!passwordReset">
      <form (ngSubmit)="submit()" #resetPasswordForm="ngForm">
        <div class="mb-3">
          <label for="password1" class="block text-900 font-medium mb-2">New password</label>
          <input
            id="password1"
            type="text"
            placeholder="New password"
            pInputText
            [ngClass]="!password1.valid && password1.touched || !password1.touched && resetPasswordForm.submitted  ? 'ng-invalid ng-dirty' : ''"
            class="w-full"
            ngModel
            name="password1"
            required
            #password1="ngModel">
        </div>
        <div class="mb-3">
          <label for="password2" class="block text-900 font-medium mb-2">Confirm password</label>
          <input
            id="password2"
            type="text"
            placeholder="Confirm password"
            pInputText
            [ngClass]="!password2.valid && password2.touched || !password2.touched && resetPasswordForm.submitted  ? 'ng-invalid ng-dirty' : ''"
            class="w-full"
            ngModel
            name="password2"
            required
            #password2="ngModel">
        </div>
        <small id="password1-help"
               *ngIf="password1.value !== password2.value"
               class="p-error">Both passwords should be the same</small>
        <button pButton pRipple label="Reset password" icon="pi pi-user" class="w-full"></button>
      </form>
    </div>
    <div class="text-center mt-2" *ngIf="passwordReset">
      <p-button [label]="'Go to login page ->'" [routerLink]="'/login'"></p-button>
    </div>
  </div>
</div>
