
<div class="dashboard-container">
  <p-card header="Open tasks">
    <p class="m-0">
      30
    </p>
  </p-card>
  <p-card header="Your overdue tasks">
    <p class="m-0">
      20
    </p>
  </p-card>
  <p-card header="Your overdue tasks">
    <p class="m-0">
      1
    </p>
  </p-card>
  <p-card header="Your overdue tasks">
    <p class="m-0">
      5
    </p>
  </p-card>
</div>
<p-scrollPanel [style]="{ width: '50%', height: '200px' }" styleClass="custombar1">
  All tasks
</p-scrollPanel>
<p-scrollPanel [style]="{ width: '50%', height: '200px' }" styleClass="custombar1">
  Overdue Tasks
</p-scrollPanel>
